*{margin:0;padding:0}body{width:100%;height:100%;overflow:hidden}
.page {
	display: none;
	height: 100%;
	width: 750px;
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden
}
.back {
  width: 750px;
  overflow: hidden;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
.page{display:none;height:100%;width:750px;top:0;left:0;position:absolute;overflow:hidden}
.backboard {
	position: relative;
	top: 0;
	left: 0;
	height: 265px;
	z-index: 5
}
.back1 {
	background: url("/images/q/back1.png") no-repeat 0 0
}
.back2 {
	background: url("/images/q/back1.png") no-repeat 0 0
}
.back3 {
	background: url("/images/q/back3.png") no-repeat 0 0
}
.teacher1 {
	height: 263px;
	width: 230px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	background: url("/images/q/teacher1.png") no-repeat 0 0;
	-webkit-animation: teacher1 .5s forwards;
	animation: teacher1 .5s forwards
}
.teacher2 {
	height: 263px;
	width: 230px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	background: url("/images/q/teacher2.png") no-repeat 0 0;
	-webkit-animation: teacher1 .5s forwards;
	animation: teacher1 .5s forwards
}
@keyframes teacher1 {
	0% {
	opacity: 0;
	left: -200px
}
1% {
	opacity: 1;
	left: -200px
}
100% {
	opacity: 1;
	left: 0
}
}@-webkit-keyframes teacher1 {
	0% {
	opacity: 0;
	left: -200px
}
1% {
	opacity: 1;
	left: -200px
}
100% {
	opacity: 1;
	left: 0
}
}.mark {
	position: absolute;
	height: 120px;
	width: 80px;
	left: 150px;
	opacity: 0;
	top: 0;
	-webkit-animation: mark .5s .8s forwards;
	animation: mark .5s .8s forwards
}
@keyframes mark {
	0% {
	opacity: 0;
	transform: scale(1,1);
	top: 0
}
1% {
	opacity: 1;
	transform: scale(1,1);
	top: 0
}
50% {
	opacity: 1;
	transform: scale(1.3,1.3);
	top: -15px
}
100% {
	opacity: 1;
	transform: scale(1,1);
	top: 0
}
}@-webkit-keyframes mark {
	0% {
	opacity: 0;
	transform: scale(1,1);
	top: 0
}
1% {
	opacity: 1;
	transform: scale(1,1);
	top: 0
}
50% {
	opacity: 1;
	transform: scale(1.3,1.3);
	top: -15px
}
100% {
	opacity: 1;
	transform: scale(1,1);
	top: 0
}
}
.question {
	position: absolute;
	left: 200px;
	top: 0;
	height: 240px;
	width: 550px;
	opacity: 0;
	-webkit-animation: question 1.5s .4s forwards;
	animation: question 1.5s .4s forwards
}
@keyframes question {
	0% {
	opacity: 0
}
100% {
	opacity: 1
}
}@-webkit-keyframes question {
	0% {
	opacity: 0
}
100% {
	opacity: 1
}
}.btn {
	position: relative;
	top: -158px;
	left: 221px
}
.answer {
	display: block;
	position: absolute;
	top: 17%;
	height: 84%;
	overflow: hidden
}
.answerA {
	position: relative;
	display: block;
	left: 0;
	width: 750px;
	height: 33%
}
.answerB {
	position: relative;
	display: block;
	left: 0;
	width: 750px;
	height: 30%
}
.answerC {
	display: block;
	position: relative;
	left: 0;
	width: 750px;
	height: 37%
}
.AnsA {
	left: 750px;
	-webkit-animation: inAns .5s ease-in-out forwards;
	animation: inAns .5s ease-in-out forwards
}
.AnsB {
	left: 750px;
	-webkit-animation: inAns .7s ease-in-out forwards;
	animation: inAns .7s ease-in-out forwards
}
.AnsC {
	left: 750px;
	-webkit-animation: inAns .9s ease-in-out forwards;
	animation: inAns .9s ease-in-out forwards
}
.firstA {
	-webkit-animation: inAns .5s ease-in-out forwards;
	animation: inAns .5s ease-in-out forwards
}
.firstB {
	-webkit-animation: inAns .7s ease-in-out forwards;
	animation: inAns .7s ease-in-out forwards
}
.firstC {
	-webkit-animation: inAns .9s ease-in-out forwards;
	animation: inAns .9s ease-in-out forwards
}
@-webkit-keyframes inAns {
	0% {
	-webkit-transform: translateX(0px)
}
100% {
	-webkit-transform: translateX(-750px)
}
}@keyframes inAns {
	0% {
	transform: translateX(0px)
}
100% {
	transform: translateX(-750px)
}
}@-webkit-keyframes goAns {
	0% {
	-webkit-transform: translateX(-750px)
}
100% {
	-webkit-transform: translateX(-1500px)
}
}@keyframes goAns {
	0% {
	transform: translateX(-750px)
}
100% {
	transform: translateX(-1500px)
}
}.AnsAA {
	-webkit-animation: goAns .5s ease-in-out forwards;
	animation: goAns .5s ease-in-out forwards
}
.AnsBB {
	-webkit-animation: goAns .7s ease-in-out forwards;
	animation: goAns .7s ease-in-out forwards
}
.AnsCC {
	-webkit-animation: goAns .9s ease-in-out forwards;
	animation: goAns .9s ease-in-out forwards
}
.answer .mask {
	position: absolute;
	background: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0
}
.answer li .selectE {
	display: none
}
.answer li .selectS {
	display: block
}
.answer li.current .mask {
	z-index: 4;
	background: rgba(0,0,0,.2)
}
.answer li.current .selectE {
	display: block
}
.answer li.current .selectS {
	display: none
}

.next {
  display: none;
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -150px;
  height: 124px;
  width: 360px;
}

.select {
  position: relative;
  height: 80px;
  width: 60px;
  top: 50%;
  margin-top: -40px;
  left: 31px;
  float: left;
  z-index: 5;
}

.picA {
  position: absolute;
  left: 450px;
  top: 55%;
  margin-top: -130px;
  height: 260px;
  width: 310px;
  z-index: 5;
}
.titleA {
  height: 100px;
  width: 415px;
  position: absolute;
  left: 91px;
  z-index: 5;
  top: 50%;
  margin-top: -50px;
}

.line1 {
  height: 12px;
  width: 750px;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -7px;
}